.ms-footer-container{
    position: relative;
    color: white;
    background-color: #292929;
}

.ms-footer-img{
    position: absolute;
    height: 21.875rem;  
    top: -10%;
    left: 60%;
}

.ms-footer-bt-container{
    position: relative;
    background-color: #303030;
}

.ms-btn{
    color: white;
    background-color: #303030;
    border-color: #0282f9;
    padding: .3125rem .625rem;
}

.ms-follow-text{
    margin-top: .3125rem;
    color: #0282f9;
}

.ms-social-icon{
    width: 1.875rem;
}